<!DOCTYPE html>
<html>
<head>
  <title>DB2</title>
</head>
<body>
<div class="form-body">
  <form class="login-form" (ngSubmit)="formulariologin()" id="loginForm">
  <div class="container">
    <h1 style="text-align: center">Supuestamete el titulo</h1>
    <p>Escribe el query en el recuadro luego da click en el boton "Aceptar"</p>
    <textarea id="query"></textarea>
    <button type="submit" class="aceptar">Aceptar</button>
  </div>
  <div class="container2">
    <div class="caja">Aqui iria el tex</div>
  </div>
  </form>
</div>


</body>
</html>
