<!DOCTYPE html>
<html>
<head>
  <title>DB2</title>
</head>
<body>
<div class="form-body">
  <div class="container">
    <h1 style="text-align: center">Gestor de Base de datos en linea</h1>
  </div>
  <div class="principal">
    <input placeholder="Escribe la sentencia que desees utilizar, ejemplo (Select * from table) " class="input1"
           type="text" id="input-text">
    <br>
    <button id="send-button"><H1>Ejecutar</H1></button>
  </div>
  <div class="container2">
    <div class="caja" id="resultado">
      <table>
        <tbody id="table-body">
        </tbody>
      </table>
    </div>
    <table>
      <tr *ngFor="let item of itemsArray">
        <td>
          {{ item.clave }}: {{ item.valor }}
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
