<!DOCTYPE html>
<html>
<head>
  <title>DB2</title>
</head>
<body>
<div class="form-body">
  <form class="login-form" (ngSubmit)="formulariologin()" id="loginForm">
    <div class="container">
      <h1 style="text-align: center">Gestor Online</h1>
      <p>Escribe la sentencia que desees utilizar, ejemplo "select * from table"</p>
      <textarea id="query"></textarea>
      <button type="submit" class="aceptar">Ejecutar</button>
    </div>
    <div class="container2">
      <div class="caja" id="resultado">Resultado</div>
    </div>
  </form>
</div>


</body>
</html>
